.App {
    height: 100vh;
    overflow: auto;
    background-color: #f5f5f5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

}

.title  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    position: relative;
    top: 45%;
    transform: translateY(-50%);    
    color: black;

}
.info {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    position: relative;
    top: 48%;
    transform: translateY(-50%);    
    color: black;

}