.weatherContainer {
    background-color: rgb(49, 79, 250);
    height: 100vh;
}


.app {
    background-color: white;
    width: 50%;
    color: black;
    padding: 25px;
    text-align: center;
    position: relative;
    left: 25%;
    top: 150px;
    height: 36vw;
}

.errorTime {
    background-color: rgb(184, 38, 38);
    height: 100vh;
}

.weatherCardContainerError {
    background-color: white;
    width: 50%;
    color: black;
    padding: 25px;
    text-align: center;
    position: relative;
    left: 25%;
    top: 150px;
    height: 30vw;

}

.weatherCardContainer {
    background-color: white;
    width: 50%;
    color: black;
    padding: 25px;
    text-align: center;
    position: relative;
    left: 25%;
    top: 10px;
    height: 30vw;

}

.weatherCardError {
    position: relative;
    top: 20%;
}

.weatherCardError img {
    margin-bottom: 40px;
}
