@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
     overflow-x: hidden;
     min-width: 960px; 
}

.App {
    background-color: black;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    overflow-x: hidden;
  
}


.App h2 {
    font-size: 40px;
}

.App span {
    font-size: 30px;
}

.go-down {
    position: sticky;
    z-index: 1;
    top: -50px;
    
}
.infoSect {
    height: 700px;
    background-color: #302f2d;
    position: relative;
    color: white;
}

.infoSect h2 {
    position: relative;
    top: 40px;
}

.about-me {
    
    position: relative;
    height: 400px;
    border: 2px;
    text-emphasis: center;
    display: inline-block;
    top: 60px;
    width: 50vw;


}
.about-me h2 {
    


}
.about-me span {
    font-size: 15px;
   

}

.info-table {
    width: 50vw;
    position: relative;
    height: 400px;
    text-emphasis: center;
    top: -15%;
    right: -25%;
}

.project-sect {
    color: black;
    background-color: white;
    height: 500px;
    text-align: center;
    

}

.projects {
    position: relative;
    top: 60px;
}