@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.background {
    font-family: 'Josefin Sans', cursive;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-color: rgb(98, 90, 90);

}
.info-box {
    background-color: white;
    color: black;
    width: 75%;
    left: 130px;
    height: 70%;
    position: relative;
    top: 12%;
    
}

.info-box h2 {
    top: 30%;
    position: relative;
}
.info-box p {
    position: relative;
    top: 30%;

}
.form-input {
    width: 100%;
    height: 100%;
    position: relative;
    top: 35%;
}

.header h2{
    left: 10%;
}

.back-button {
    height: 1000px;
    position: relative;
    right: 41%;
    top: -400px;
}
